@media screen and (max-width: 768px) {
  .hidden-on-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 769px) {
  .hidden-on-desktop {
    display: none !important;
  }
}
#snowfall {
  pointer-events: none;
  position: relative;
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
}
#snowfall:before {
  content: '';
  display: block;
  padding-top: 33.33333333%;
}
#snowfall > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 575px) {
  #snowfall {
    position: relative;
    position: absolute;
  }
  #snowfall:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  #snowfall > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
body {
  position: relative;
  overflow-x: hidden;
}
header.site-header {
  position: relative;
  z-index: 11;
}
header.site-header #ny2023-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
header.site-header #ny2023-decor {
  position: relative;
  position: absolute;
  width: 2600px;
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url("https://image.useinsider.com/coraltravel/defaultImageLibrary/ny2023-decor-1670837450.png") center no-repeat;
  background-size: contain;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}
header.site-header #ny2023-decor:before {
  content: '';
  display: block;
  padding-top: 4.07692308%;
}
header.site-header #ny2023-decor > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 575px) {
  header.site-header #ny2023-decor {
    position: relative;
    position: absolute;
    width: 100%;
    background-image: url(https://image.useinsider.com/coraltravel/defaultImageLibrary/ny2023-decor-mobile-1670838669.png);
  }
  header.site-header #ny2023-decor:before {
    content: '';
    display: block;
    padding-top: 31.82608696%;
  }
  header.site-header #ny2023-decor > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
header.site-header #ny2023-decor.shown {
  opacity: 1;
}
.site-header-container .container-other .container-topside {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
@media screen and (max-width: 575px) {
  .site-header-container .container-other .container-topside {
    background: none!important;
  }
}
.site-header-container .container-other .container-topside.ny2023-back {
  background: url("https://image.useinsider.com/coraltravel/defaultImageLibrary/ny2023-decor-sticky-mobile-1670839810.png") center no-repeat !important;
  background-size: cover!important;
}
.site-header-container .container-other .container-tabs .container-phone {
  margin-top: -25px !important;
}
@media screen and (max-width: 1006px) {
  div.container-tabItemWrap .container-tabItem.activeTab {
    z-index: 11;
  }
}
